<div class="row">
    <div class="col-md-4" style="text-align: start;">
        <p>&#169; SocoalBuzz. All Rights Reserved</p>
    </div>
    <div class="col-md-2">
        <a href="/">Home</a>
    </div>
    <!-- jais -->
    <div class="col-md-2">
        <a href="https://umangjais01.github.io/portfolio/">Porfolio</a>

    </div>
</div>
